bodi{
    padding: 35px;
}

input[type = "button"]{
    background-color:pink;
    width: 80px;
    height: 40px;
    border-radius: 50px;
    font-size: 12pt;
    border: none;
}

input[ type = "text"]{
    background-color:powderblue;
    width:300px ;
    height: 35px;
    border-radius: 5px;
    text-align: left;
    padding-left: 15px;
    font-size: 18pt;
    border: none;
}

.divcl {
    width: 450px;
    height: 600px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 15px;
    background-color: rgb(238, 236, 229);
    border-radius: 5px;
}

.logo {
    padding-bottom: 15px;
    text-align: center;
    font-size: 20pt;
}

.item {
    padding-top: 10px;
    padding-left: 15px;
    font-size: 18pt;
}